:root {
    --hover-clr: #0000000e;
  }

.routeOption {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 15px;
}

.routeOption:hover {
    background: var(--hover-clr);
}

.routeListing {
    display: flex;
    flex-direction: row;
}

.shortRouteDis {
    text-align: left;
} 

.MuiListItemText-primary {
    text-align: left;
    font-weight: bold;
    padding-left: 0px;
}

.selectedRoute {
    /* background-color: aqua; */
    /* font-weight: bold; */
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 15px;
}

.selectedRoute:hover {
    background: var(--hover-clr);
}