
.routeOption {
    display: flex;
    flex-direction: column;
}

/* .routeTL {
    
} */


.shortRouteDis {
    text-align: left;
} 

.MuiListItemText-primary {
    text-align: left;
    /* font-weight: bold; */
}

.selectedRoute {
    /* background-color: aqua; */
    font-weight: bold;
    border: solid;
}